@import "../../reset.css";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&family=Raleway:wght@400;500;600;700;900&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
$kaushan-font: 'Kaushan Script', cursive;
$montserrat-font: 'Montserrat', sans-serif;
$basic-font: 'Raleway', sans-serif;
$pink:  #F38281;
$beige: #F9EFCF;
$orange:  #F4BF87;
$green: #95E1D3;
$black: #2D3033;
$gray:  #C6CBCD;
$white-light: #F8F8F8;
$white-dark: #F5F5F5;

@mixin font-raleway($size: false, $color: false, $weight: false, $lh: false) {
    font-family: $basic-font; 
    @if $size { font-size: $size; 
    }     
    @if $color { color: $color; 
    } 
    @if $weight { font-weight: $weight; 
    } 
    @if $lh { line-height: $lh; 
    } 
}
@mixin font($font-family:false, $size: false, $color: false, $weight: false, $lh: false) {
    @if $font-family { font-family: $font-family; 
    }
    @if $size { font-size: $size; 
    } 
    @if $color { color: $color; 
    } 
    @if $weight { font-weight: $weight; 
    } 
    @if $lh { line-height: $lh; 
    }   
}
@mixin center {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
}
/*не видит его*/
.wrapper-content {
    max-width: 1170px;
    margin: auto;
}        
.subtitle {
    @include font($kaushan-font,30px ,$black , 400,44px );
    display: block;
    text-align: center;
    margin-bottom: 50px;
}   
.title {
    @include font-raleway(36px,$black ,900 ,42px );
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.line{
    width: 170px;
    border-bottom: 4px solid #F38281;
    margin: auto;
}
.wrapper-bg {
    max-height: 1024px;
    background: linear-gradient(rgba(233, 130, 131, 0.9),rgba(237, 215, 137, 0.9)), url(../../img/bg-eagle.jpg) center no-repeat;
    background-size: 100% 100%;
    margin-bottom: 80px;
}
.header{
    @include font-raleway(14px,#FFFFFF,600,16px);
    padding: 42px 0 115px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
    }
    &__nav{
        width: 100%;        
        &-container{            
        width: 55%;
        }         
    }
    &__nav-link{     
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
        &:hover{
            color: #F4BF87;
            border-bottom: 1px solid #F4BF87;
        }
    } 
}    
.welcome-part{
    &__subtitle{
        @include font($kaushan-font,64px,#FFFFFF,400,93px);
        display: block;
        text-align: center;
    }
    &__title-wrapper{
        max-width: 900px;
        margin: auto;
    }
    &__title{
        @include font($montserrat-font,144px ,#FFFFFF ,700 ,176px );
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;
    }
    .line{
        width: 170px;
        border-bottom: 4px solid #FFFFFF;
        margin: 0 auto 75px ;
    }
    &__button{
        width: 369px;
        height: 77px;
        border: 4px solid #FFFFFF;
        background-color: transparent;
        @include font-raleway(24px,#FFFFFF ,700 ,28px );
        text-transform: uppercase;
        @include center;
        &:hover{
            background: #FFFFFF;
            color: #E4BE8D;
        }
        &:active{
            background: #FFFFFF;
            border: 4px solid #E4BE8D;
            color: #E4BE8D;
        }
    }
    .intro-work-about{/*потом удалить, для контента*/
        margin:268px auto 0;
    }
}
.focus__rectangle{ /*TODO! вынести в миксин*/
    display: flex;   
    position: absolute;
    top: 0;
    opacity: 0;
    width: 370px;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    &:hover{   
        opacity: 90%;     
        transform: translate3d(-10px,-10px,0);
    }
}
.about{
    .line{
        margin-bottom: 40px;
    }
    &__text{
        @include font-raleway(18px,#000000 ,400 ,21px );
        text-align: center;
        margin-bottom: 65px;
    }
    &__img-container{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 106px;
    }
    &__square-green{
        width: 370px;
        height: 338px;
        background-color: $green;
    }
    .focus__rectangle{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 338px;
        .icon-add-user{
            width: 40px;
            margin-bottom: 30px;
        }
        .text{
            @include font-raleway(24px,#FFFFFF ,500 ,28px );
            text-transform: uppercase;
        }
    }    
}   
.green-container{
    display: grid;
    grid-column-gap:1px;
    grid-template-columns: 1fr 234px 234px 234px 234px 234px 1fr;
    margin-bottom: 50px;
}
.green-rectangle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: $green;
    &__text{
        @include font-raleway(24px,#FFFFFF ,700 ,28px );
    }
    &__number{
        @include font-raleway(64px,#FFFFFF ,700 ,75px );
        margin-bottom: 15px;
    }
}
.work {
    &__line{
        margin-bottom: 90px;
    }
    &__container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 150px;
        margin-bottom: 133px;
    }
    &__block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__text-wrapper{
        width: 73%;
    }
    &__icon-title{
        @include font-raleway(24px,$black ,700 ,28px );
        text-transform: uppercase;
        margin-bottom: 60px
    }
    &__icon-text{
        @include font-raleway(18px,$black ,400 ,21px );
    }
    &__icon{
       width: 70px;
       height: 70px;
    }
}
.design{
    background: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)), url(../../img/bg-design.jpg) center no-repeat;
    background-size: 100% 100%;
    &__line{
        margin-bottom: 59px;
    }
    &__images{
        margin: auto;
        width: 1170px;
        height: 582px;
        position: relative;      
        margin-bottom: 55px;  
        &-rectangle{
            position: absolute;
            left: 50%; 
            transform: translateX(-50%);
            z-index: 2;            
        }
        &-screen{
            position: absolute;
            left: 50%; 
            transform: translateX(-50%);
            top: 20px;
        }
        &-mobile{
            position: absolute;
            left: 73%; 
            top: 35%;
            transform: translateX(-50%);
            z-index: 3;
        }
    }
}
.we-do {
    &__line {
        margin-bottom: 60px;
    }
    &__text {
        text-align: center;
        margin-bottom: 70px;
    }
    &__block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 114px;
    }
    &__accordion {
        margin-left: 30px;
    }
    &__button-text {
        @include font-raleway(24px,$black,700,28px);
        margin-left: 43px;
        text-transform: uppercase;
    }
    /*&__img-wrapper{
        width: 170px;
        height: 170px;
        padding: 50px;
        border: 2px solid #95E1D3;
    }   для карусели*/
}
.team{
    &__line{
        margin-bottom: 50px;
    }
    &__text{
        @include font-raleway(18px,#000000,400 ,21px );
        text-align: center;
        margin-bottom: 75px;
    }
    &__wrapper{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 85px;
    }
    &__name-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 110px;
        text-transform: uppercase;
    }
    &__name {
        @include font-raleway(24px,$black ,700 ,28px )
    }
    &__job {
        @include font-raleway(18px,$black ,400 ,21px )
    }  
   .focus__rectangle {
        display: flex;
        justify-content: center;
        height: 424px;
   }
   &__icon {
    width: 42px;
    margin-right: 1px;
   }
}  
.black-white {
    background-color: $white-light;   
    margin-bottom: 85px;
    &__icon{
        margin: 40px 0;
    } 
    &__img-wrapper{
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    &__icon-wrapper{
        width: 129px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.some {
    margin-bottom: 125px;
    &__line {
        margin-bottom: 50px;
    }
    &__text {
        text-align: center;
        margin-bottom: 100px;
    }
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &__img3{
        grid-column-start: 3 ;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    &__img {
        width: 100%;
        height: 100%;
    }
    &__img-wrapper{
        position: relative;
    }
    .focus__rectangle{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
        &:hover{
            transform: none;
        }
    }
    &__focus-icon {
        width: 42px;
        height: 42px;
        margin-bottom: 60px
    }
    &__focus-title {
        @include font-raleway(24px,#FFFFFF ,700 ,28px );
        text-transform: uppercase;
    }
    &__focus-text {
        @include font-raleway(18px,#FFFFFF ,400 ,21px );
    }    
}
.clients {
    background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)), url(../../img/bg-clients.jpg) center no-repeat;
    background-size: 100% 100%;
    &__subtitle {
        padding-top: 80px;
    }
    &__line {
        margin-bottom: 60px;
    }
    &__card {
        width: 45%;
        display: flex;
        flex-direction: row;
        margin-bottom: 45px;
    }
    &__card-text {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
    }
    &__name {
        @include font-raleway(24px,#2D3033 , 700,28px );
        margin-bottom: 5px;
    }
    &__job {
        @include font-raleway(18px,#2D3033 ,400 ,21px );
        margin-bottom: 32px;
        text-transform: uppercase;
    }
    &__card-line {
        margin-bottom: 32px;
        width: 70px;
        border-bottom: 4px solid #F38281;
    }
    &__text {
        @include font-raleway(18px,#2D3033 ,400 , 21px);
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 95px;
    }
}
.latest {
    &__line {
        margin-bottom: 42px;
    }
    &__card {
        width: 33%;
        position: relative;
    }
    &__card-img {
        margin-bottom: 30px;
    }
    &__date {
        position: absolute;
        top: 150px;
        left: -15px;
        width: 80px;
        height: 80px;
        background: #95E1D3;
        @include font-raleway(36px, #FFFFFF,700 ,30px );
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    &__month {
        @include font-raleway(24px,#FFFFFF ,400 , 18px);
    }
    &__title {
        @include font-raleway(24px,#2D3033 ,700 ,28px );
        text-transform: uppercase;
    }
    &__text {
        @include font-raleway(18px,#2D3033 ,400 ,21px );
    }
    &__icon {
        margin-right: 20px;
    }
    &__icon-wrapper {
        display: flex;
        flex-direction: row;
    }
    &__icon-block {
        margin-right: 60px;
    }
    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 90px;
    }
    &__bg {
        height: 230px;
        background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)), url(../../img/latest-blog-bg.jpg) center no-repeat;
        background-size: 100% 100%;       
    }    
    &__icon-map {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 46px 0 25px;
    }
    &__title-map {
        color: #F38281;
        margin-bottom: 30px;
    }
}
.footer {
    background-color: #F8F8F8;
    padding-top: 80px;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__block {
        width: 33%;
    }
    &__logo {
        margin-bottom: 50px;
    }
    &__mogo-text {
        @include font-raleway(18px,#C6CBCD ,400 ,21px );
        margin-bottom: 50px;
    }
    &__followers-number {
        @include font-raleway(36px,#2D3033 ,700 ,30px )
    }
    &__followers {
        text-transform: uppercase;
        font-style: italic;
    }
    &__follow-us {
        height: 45px;
        margin: 40px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #C6CBCD;
    }
    &__follow-text {
        font-style: italic;
        @include font-raleway(13px,#C6CBCD ,400 ,15px );
    }
    &__follow-icon {
        text-decoration: none;
    }
    &__input {
        width: 237px;
        height: 55px;
        border: 1px solid #C6CBCD;
        &::placeholder {
            text-align: center;
            @include font-raleway(18px,#C6CBCD ,400 ,21px );
        }
    }
    &__button {
        width: 133px;
        height: 55px;
        background: #95E1D3;
        border: none;
        @include font-raleway(18px,#FFFFFF ,700 ,21px );
        text-transform: uppercase;
    }
    &__title {
        @include font-raleway(24px,#2D3033 ,700 ,28px );
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    &__blogs {
        display: flex;
        flex-direction: column;
    }
    &__blog-title {
        @include font-raleway(18px, #2D3033,700 , 21px);
        text-transform: uppercase;
    }
    &__blog-date {
        @include font-raleway(13px,#2D3033 ,400 ,15px );
    }
    &__blog-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &__blog-img {
        margin-right: 30px;
    }
    &__img-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 40px;
    }
    &__see-all {
        text-transform: uppercase;
        @include font-raleway(13px,#2D3033 ,400 ,15px );
    }
    &__info {
        border-top: 1px solid #C6CBCD;
        &-text {
            @include font-raleway(13px,#2D3033 ,700 ,15px );
            text-transform: uppercase;
            text-align: center;
            margin-top: 30px;
        }
    }  

}
